@import url('./normalize.css');

* {
  box-sizing: border-box;
}

body {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #f0f2f3;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.slider-body {
  border: .5rem solid #697278;
  max-height: 45rem;
  max-width: 38.25rem;
  margin: 1rem;
}
.slider {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.slides {
  height: 100%;
  width: 200%;
  display: flex;
}
.slide {
  width: 50%;
  transition: ease .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide img {
  height: 90%;
  width: 100%;
}
.text {
  height: 10%;
  margin-left: 2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  transform: translateY(10%);
}
.navigation {
  height: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  transform: translateY(-230%);
}
input[name="radio"] {
  appearance: none;
}
.control {
  height: 0.8rem;
  width: 0.8rem;
  margin-right: 2.2%;
  border-radius: 50%;
  border: 2px solid rgb(13, 100, 194);
  background-color: rgb(13, 100, 194);
  cursor: pointer;
  transition: 0.3s;
}
.control:hover {
  border-color: #f0f2f3;
  background-color: #f0f2f3;
  box-shadow: 0 0 .2rem;
}
.control:active {
  background-color: rgba(183, 183, 183, 0.664);
}
#radio-1:checked ~ .slides .move {
  margin-left: 0;
}
#radio-1:checked ~ .navigation #label-1 {
  background-color: transparent;
}
#radio-2:checked ~ .slides .move {
  margin-left: -50%;
}
#radio-2:checked ~ .navigation #label-2 {
  background-color: transparent;
}
@media (max-width: 420.9px) {
  .slider-body {
    border: .3rem solid #697278;
    height: 25rem;
    width: 18.8rem;
  }
  .slides {
    height: 100%;
  }
  .slide img {
    height: 79%;
  }
  .navigation {
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: translateY(-294%);
  }
  .text {
    display: block;
    transform: translateY(150%);
  }
}
